* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding-top: 60px;
    font-size: 20px;
    align-items: center;
}

nav {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px;
    background-color: #3B8BEB;
}

nav h1 {
    color: #ffffff;
    margin-left: 16px;
}

.filterWrapper {
    display: flex;
    justify-content: center;
}

.sortPriceWrapper {
    width: 894px;
    padding: 8px;
    display: inline-flex;
    gap: 8px;
}

.sortLabel {
    margin-left: 8px;
    padding: 8px;
    background-color: #ECECEC;
    border-radius: 8px;
}

.sortSelect {
    font-size: 20px;
    border-radius: 8px;
}

.articlesWrapper {
    display: flex;
    justify-content: center;
}

.articlesContainer {
    width: 894px;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 8px;
}

.article {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 16px;
    border-radius: 8px;
    background-color: #ECECEC;
    margin: 8px;
}

.article span {
    width: 250px;
}

.article:hover {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loadingElementWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.loadingElement {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

.errorMessage {
    width: stretch;
    text-align: center;
    margin: 16px;
}

/* Tablet: 614px - 1023px */
@media (max-width: 1023px) {
    .sortPriceWrapper {
        width: 614px;
    }

    .articlesContainer {
        width: 614px;
    }
}

/* Mobile: up to 614px */
@media (max-width: 614px) {
    .sortPriceWrapper {
        width: 290px;
    }

    .articlesContainer {
        width: 290px;
    }
}